{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>BookedBy</th>
                <td>{{ booking.bookedBy.email }}</td>
            </tr>
            <tr>
                <th>BookingStartDate</th>
                <td>{{ booking.bookingStartDate ? booking.bookingStartDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>BookingEndDate</th>
                <td>{{ booking.bookingEndDate ? booking.bookingEndDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NumberOfGuest</th>
                <td>{{ booking.numberOfGuest }}</td>
            </tr>
            <tr>
                <th>ExtraGuestTotalPrice</th>
                <td>{{ booking.extraGuestTotalPrice }}</td>
            </tr>
            <tr>
                <th>TotalBookingPrice</th>
                <td>{{ booking.totalBookingPrice }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ booking.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ booking.createdAt ? booking.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ booking.updatedAt ? booking.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_booking_index') }}">back to list</a>

    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
